.nav{
    height: 75px;
    background: #23272a;
}
.nav div{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    padding: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.nav ul{
    

    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 17px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    outline: 0;
    transition: 0.3s;
    color: white;
    padding: 5px;
}
.nav ul li a:hover{
    outline: 0;
    transition: 0.3s;
    color: rgb(213,162, 115);
}
.h2 img{
    width: 100%;
    height: auto;
}

