.nav{
    height: 70px;
    background: black;
}
.nav div{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    -webkit-user-drag: none;
    padding: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
   
    color: rgb(213,162, 115);

}
.nav ul{
    

    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 17px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color: white;
    padding: 5px;
}
.addbot div{
    user-select: none;
    -webkit-user-drag: none;
    text-align: left;
    left: 0;
}
.coin {
background-color:#E4EFFF;
border:1px solid #9FC6FF;
padding:5px;
-moz-border-radius:10px 0;
-webkit-border-radius:10px 0;
border-radius:10px 0;
}
